body{
    position:relative;
    max-width: 1440px;
    height:2508px;
    
}
header{
    position: absolute;
    width: 1440px;
    height: 779px;
    left: 0px;
    top: 0px;
    background: #ffffff;
}
.background{
    position:absolute;
    width:1440px;
    height:780px;
    left: 0px;
    top:0px;
    filter: drop-shadow(-150px 0px 150px #02160b);
    border-radius: 0px;
}
.wildlife_link{
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 60px;
    left: 120px;
    top: 19px;
    margin:0;
}
.logo_wildlife{
    display:inline-block;
    position: absolute;
    width: 155px;
    height: 60px;  
    left: 90px;
    top: -19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #f7f7f7;
}
.menu_link {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #f7f7f7;
    text-decoration: none;
}
.blog_link{
    position: absolute;
    width: 50px;
    height: 60px;  
    left: 840px;
    top: 19px;
}
.contact_link{
    position: absolute;
    width: 50px;
    height: 60px;  
    left: 951px;
    top: 19px;
}
.button_search{
    background-color: transparent;
    border:0;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1107px;
    top: 33px;
    align-items: center;
    margin-top:-3px;
    vertical-align: center;
}
.button_search:hover{
    cursor: pointer;
}
.sign_in_link{
    background-color: transparent;
    border: 2px solid #cd6326;
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    width: 120px;
    height: 50px;  
    left: 1200px;
    top: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #f7f7f7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sign_in_link:hover{
    background: #cd6326;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sign_in_link:active{
    background: #8f5613;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.survival{
    position: absolute;
    width: 199px;
    height: 72px;
    left: 120px;
    top: 199px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #cd6326;
}
.what_this_mean{
    position: absolute;
    width: 274px;
    height: 108px;
    left: 120px;
    top: 324px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #f7f7f7;
}
.donate_text{
    position: absolute;
    width: 160px;
    height: 60px;
    left: 120px;
    top: 479px;
    background: #cd6326;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 55px;
    text-align: center;
    color: #f7f7f7;
    text-decoration: none;
}
.donate_text:hover{
    background: #e39128;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.donate_text:active{
    background: #8f5613;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
main{
    position:absolute;
    width: 1440px;
    height: 1368px;
    left: 0px;
    top: 780px;
    background: #CCCCCC;
}
.article{
    position: absolute;
    width: 324px;
    height: 72px;
    left: 558px;
    top: 120px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}
.news{
    position: absolute;
    width: 332px;
    height: 36px;
    left: 554px;
    top: 212px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
}
.cards{
    display: flex;
    justify-content: center;
    padding-top: 368px;
    padding-left: 120px;
    padding-right: 120px;
    flex-direction: row;
    flex-basis: 330px;
    height:360px;;
}
   
.slider_right{
    background-color: transparent;
    border:0;
    position: absolute;
    width: 30px;
    height: 70px;
    left: 1290px;
    top:513px;
}
.slider_left:hover,.slider_right:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.slider_left{
    background-color: transparent;
    border:0;
    position: absolute;
    width: 30px;
    height: 70px;
    left: 120px;
    top: 513px;
}
p.deer_i,p.squir_i,p.bird_i{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    color: #F7F7F7;
}
p.deer_i{
    position: absolute;
    width: 52px;
    height: 36px;
    left: 334px;
    top: 615px;  
}
p.squir_i{
    position: absolute;
    width: 82px;
    height: 36px;
    left: 679px;
    top: 615px;
}
p.bird_i{
    position: absolute;
    width: 43px;
    height: 36px;
    left: 1059px;
    top: 615px;
}
.deer_n,.squir_k,.bird_b{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
}
.deer:hover,.squirrel:hover,.bird:hover{
transform: scale(1.1);
transition:0.5s;
}
.bird_b{
    position: absolute;
width: 125px;
height: 27px;
left: 1018px;
top: 661px;
}
.squir_k{
    position: absolute;
width: 152px;
height: 27px;
left: 644px;
top: 661px;
}
.deer_n{
    position: absolute;
width: 186px;
height: 27px;
left: 267px;
top: 661px;
}


.get_notified{
    position: absolute;
    width: 526px;
    height: 41px;
    left: 457px;
    top: 967px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}
input.useremail{
    position: absolute;
    width: 540px;
    height: 60px;
    left: 390px;
    top: 1068px;
    opacity: 0.5;
    border-radius: 0px;
    background: #c4c4c4;
    border: 1px solid #000000;
    box-sizing: 0px 4px 4px rgba(0, 0, 0.25);
    border-radius: 0px;
}
button.submit{
    position: absolute;
    width: 120px;
    height: 64px;
    left: 930px;
    top: 1068px;
    background: #cd6326;
    border: 1px solid #cd6326;
    border-radius: 0px 5px 5px 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    color: #f7f7f7;
}
.submit:hover{
    background: #e39128;
    cursor: pointer;
}
.submit:active {
    background: #8f5613;
  }  
footer{
    position: absolute;
    width: 1440px;
    height: 360px;
    left: 0px;
    bottom: 0px;
    background: url(assets/1111.jpg);
    border-radius: 0px;
}
.logo_wl{
    position: relative;
    width: 70px;
    height: 60px;
    left: 120px;
    top: 150px;
    }
.logo_wildlife_footer{
    position: relative;
    display:inline-block;
    margin:0px;
    width: 155px;
    height: 60px;
    left: 15px;
    top: -15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
}
ul.menu_footer_link li{
    position:relative;
    display:inline-block;
    top: 60px;
    left: 480px;
    height: 58px;
    margin-inline:43px;
}
.footer_link{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
    text-decoration: none;   
}
ul.footer_social_link li{
    position: relative;
    display:inline;
    width: 240px;
    height: 40px;
    left: 1080px;
    margin: 12px;
}